.sidebar-right{
  table.article-images{
    td{
      height: 40px;
      word-break: break-all;
      img{
        height: 40px;
      }
    }
    td.url{
      padding: 2px 10px;
      font-size: 12px;
    }
  }
}