.articles{
  .article{
    margin-bottom: 120px;
  }
}

.article{
  position: relative;
}

.article-body{
  .contents{
    padding: 20px;
    max-width: 800px;
    h1, h2, h3, h4, h5, h6 {
      margin: 30px 0 20px;
    }
    img{
      max-width: 100%;
    }
    p{
      margin: 0 0 15px;
      font-size: 16px;
      line-height: 22px;
    }
    blockquote p{
      margin: 0;
      font-size: 17px;
      line-height: 24px;
      color: #666;
    }
    ol, ul{
      margin: 20px 0;
      li{
        font-size: 16px;
        margin: 10px 0;
        ol, ul{
          margin: 10px 0;
        }
      }
    }
    span.MathJax{
      text-align: center;
      display: block;
      margin: 30px;
      font-size: 30px;
    }
  }

  .sidebar-right{
    position: absolute;
    top: 260px;
    left: 840px;
  }
}

form{
  .form-group textarea.form-control{
    height: 600px;
  }
  .form-actions{
    text-align: center;
  }
}


