  // First import cerulean variables
  @import "bootstrap-custom.scss";

  *{
    // borderとpaddingをボックス内に含めるようにする
    box-sizing: border-box;
    // 長押しポップアップメニューの非表示
    -webkit-touch-callout:none;
  }

  html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body{
  }
