.articles{
  .article{
    margin-bottom: 120px;
  }
}

.article-header{
  position: relative;
  width: 100%;
  height: 240px;
  background-image: image-url("article_header.jpg");
  background-size: auto 240px;
  h1.title{
    position: absolute;
    top: 50px;
    left: 30px;
    margin: 0;
    color: white;
  }
  .created{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
  }
}

.article{
  position: relative;
}

.article-body{
  .contents{
    padding-left: 20px;
    max-width: 800px;
  }

  .sidebar-right{
    position: absolute;
    top: 260px;
    left: 840px;
  }
}