/ params
/   article

.sns-buttons
  .twitter-button.sns-button
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="#{article_url(article.id)}" data-text="#{article.title}" data-hashtags="DonutsTechBlog">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  .hatena-bookmark-button.sns-button
    <a href="http://b.hatena.ne.jp/entry/#{article_url(article.id)}" class="hatena-bookmark-button" data-hatena-bookmark-title="#{article.title}" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  .fb-share.sns-button
    <div class="fb-share-button" data-href="#{article_url(article.id)}" data-layout="button_count"></div>